.swiper-slide {
  display: flex;
}
.first-swiper {
  background-image: url("../../public/img1.jpg");
}
.second-swiper {
  background-image: url("../../public/img2.jpg");
}
.swiper-button-next,
.swiper-button-prev {
  color: white;
  padding: 25px;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 25px;
  font-weight: 700;
}
