.swiper {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.swiper-slide {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.first-swiper {
  background-image: url("../../public/img1.jpg");
  filter: brightness(0.7);
  position: relative;
}
.second-swiper {
  position: relative;
  background-image: url("../../public/img2.jpg");
}
.swiper-button-next,
.swiper-button-prev {
  color: white;
  padding: 25px;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 25px;
  font-weight: 700;
}
