
@import url("https://fonts.googleapis.com/css2?family=Allison&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allison&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
.font-family-custom {
  font-family: "Allison", cursive;
  font-family: "Jost";
}
.jost_regular {
  font-family: var(--font-jost);
}
.allison_regular {
  font-family: var(--font-allison) !important;
}
.poppins_regular {
  font-family: var(--font-poppins);
}


.blog-card:nth-child(odd) .blog-image {
  height: 340px;
}

.blog-card:nth-child(even) .blog-image {
  height: 200px;
}





.no-scrollbar{
/* background: #000 !important; */
/* height: 500vh; */
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  
}
.no-scrollbar::-webkit-scrollbar{
  display: none;
}

/* Customizing scrollbar for WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
  background-color: #0a7a21; 
  border-radius: 10px; 
  border: 2px solid #097223; 
}

::-webkit-scrollbar-thumb:hover {
  background-color: #149e29; 
}


* {
  scrollbar-width:thin;
  scrollbar-color: #0aa345 #f1f1f1;
}

